<div class="px-3 w-full">
    <table class="w-full">
        <thead class="">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Vartolu</td>
                <td>varto@gmail.com</td>
                <td>Free</td>
                <td>Developer</td>
            </tr>
        </tbody>
    </table>
</div>