
@if (user.role === 'admin') {
    <div class= "bg-gray-200 rounded-2xl w-full">
        <table class="w-full mt-5">
            <thead class="">
                <tr class="border-b border-b-gray-400">
                    @for (item of ['Username', "Role", "Created", 'Banned', '']; track $index) {
                        <th class="py-3 first:pl-3 text-left text-[#404D61]">{{item}}</th>
                    } 
                </tr>
            </thead>
            <tbody class="">
                
                @if (isLoading()) {
                    <tr class="bg-blue-200 px-3">
                        <td colspan="5" class="text-center py-3 text-[#404D61]">Yuklanmoqda... {{isLoading()}} </td>
                    </tr>
                }@else {
                    
                    @for (item of dashService.users; track $index;) {
                        <tr class="bg-white border-y border-gray-200">
                            <td class="p-3 text-[#075ad7] text-left">
                                <div class="flex gap-2 items-center">
                                    <div class="w-6 h-6 rounded-full flex items-center justify-center text-white"
                                        [class.bg-blue-500] = "!item.banned"
                                        [class.bg-red-500] = "item.banned"
                                    >{{item.username[0]}}</div>
                                    {{item.username}} 
                                </div>
                            </td>
                            <td class="py-3 text-[#404D61] text-left">
                                <lucide-icon [name]="item.role === 'admin' ? 'shield-user' : 'user'"></lucide-icon>
                            </td>
                            <td class="py-3 text-[#404D61] text-left">{{item.created_at | date:'medium'}}</td>
                            <!-- <td class="py-3 text-[#404D61] text-left">{{item.password | pipes}}</td> -->
                            <td class="py-3 text-[#404D61] text-left"
                                [class.text-red-600] = item.banned
                                [class.text-blue-600] = !item.banned
                            >{{item.banned ? "Ban" : "Free"}}</td>
                            <td class="py-3 w-1/12 text-[#404D61] ">
                                <div class="flex items-center justify-end px-4 gap-3 w-full">
                                    @if (item.role !== 'admin') {
                                        <lucide-icon (click)="openForm(item, item.id, 'form')" name="pen" class="text-orange-500 cursor-pointer w-5"></lucide-icon>
                                        <lucide-icon (click)="onAction(item.id, 'delete')" name="trash" class="text-red-500 cursor-pointer w-5"></lucide-icon>
                                        <lucide-icon (click)="onAction(item.id, item.banned ? 'free' : 'ban')" [name]="item.banned ? 'user-check' : 'user-x'" 
                                        class="cursor-pointer w-5"
                                        [class.text-red-600]="item.banned"
                                        [class.text-green-600]="!item.banned"
                                        ></lucide-icon>
                                    }@else {
                                        <lucide-icon name="user" class="text-blue-800 cursor-pointer w-5"></lucide-icon>
                                    }
                                </div>
                            </td>
                        </tr>
                    }@empty {
                        <tr class="bg-amber-200">
                            <td colspan="5" class="text-center py-3 text-[#404D61]">Ma'lumotlar mavjud emas!</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

}@else {
    <div class="px-3 w-full">
        <table class="w-full mt-5">
            <thead class="">
                <tr>
                    @for (item of ['Name', "Email", "Status", 'Role', '']; track $index) {
                        <th class="py-2 text-left">{{item}}</th>
                    }
                </tr>
            </thead>
            <tbody> 
                @for (item of dashService.employees; track $index) {
                    <tr class="bg-gray-100 ">
                    <td class="py-3 text-[#404D61] text-left ">
                        <div class="flex gap-2 items-center">
                            <div
                             [class.bg-blue-400] = "item.status == 'active'"
                             [class.bg-yellow-400] = "item.status == 'free'"
                             [class.bg-red-400] = "item.status == 'busy'"
                             class="w-6 h-6 rounded-full bg-blue-400 flex items-center justify-center text-white">V</div>
                            {{item.name}}
                        </div>
                    </td>
                    <td class="py-3 text-[#404D61] text-left">{{item.email}}</td>
                    <td class="py-3 text-[#404D61] text-left">
                        <lucide-icon
                        [name]="item.status == 'active' ? 'briefcase-business' : item.status == 'free' ? 'tent-tree' : 'user-round-x'"
                        ></lucide-icon>
                    </td>
                    <td class="py-3 text-[#404D61] text-left">{{item.role | titlecase}}</td>
                    <td class="py-3 w-1/12 text-[#404D61] ">
                        <div class="flex items-center justify-end px-4 gap-3 w-full">
                            <lucide-icon (click)="openForm(item, item.id, 'form')" name="pen" class="text-orange-500"></lucide-icon>
                            <lucide-icon (click)="onAction(item.id, 'delete')" name="trash" class="text-red-500"></lucide-icon>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}