<div class="absolute top-0 left-0 flex items-center justify-center w-full h-screen bg-[#cccccc85]">
    <div class="rounded-2xl bg-white w-xl pb-3 px-2">
        <div class="flex py-2 w-full items-center ">
            <h2 class="text-2xl font-normal">Tasdiqlash</h2>
            <!-- <lucide-icon class="w-6 rounded-2xl h-6 cursor-pointer text-red-500 bg-red-200" (click)="onClose()" name="X"></lucide-icon> -->
        </div>
        <p class="pt-2 pb-8 text-[16px]">Foydalanuvchini blokdan chiqarishni tasdiqlang</p>
        <div class="flex py-3 w-full justify-between">
            <button (click)="onCancel()" class="px-3 py-2 cursor-pointer rounded-md bg-white border border-gray-200">Cancel</button>
            <button (click)="onConfirm()" class="px-3 py-2 cursor-pointer rounded-md bg-red-600 border border-red-200 text-white">Confirm</button>
        </div>
    </div>
</div>