<div [class]="dashService.isHideStat ? 'h-0 hidden' : 'flex px-3 justify-between'">
    <div class="w-70 px-3 py-5 border rounded-lg bg-[#F8F8F8]">
        <p class="flex items-center gap-3 py-3">
            <span class="text-[16px]">Total Budget</span>
             <lucide-icon name="triangle" class="text-red-600"></lucide-icon>
        </p>
        <p class="text-[#404D61] text-[22px] font-medium">$86, 100.00</p>
    </div>
    <div class="w-70 px-3 py-5 border rounded-lg bg-[#5B6AD0]">
        <p class="flex items-center gap-3 py-3">
            <span class="text-[16px] text-white">Total Budget</span>
             <lucide-icon name="triangle" class="text-red-600"></lucide-icon>
        </p>
        <p class="text-white text-[22px] font-medium">$86, 100.00</p>
    </div>
    <div class="w-70 px-3 py-5 border rounded-lg bg-[#F8F8F8]">
        <p class="flex items-center gap-3 py-3">
            <span class="text-[16px]">Total Budget</span>
             <lucide-icon name="triangle" class="text-red-600"></lucide-icon>
        </p>
        <p class="text-[#404D61] text-[22px] font-medium">$86, 100.00</p>
    </div>
    <div class="w-70 px-3 py-5 border rounded-lg bg-[#F8F8F8]">
        <p class="flex items-center gap-3 py-3">
            <span class="text-[16px]">Total Budget</span>
             <lucide-icon name="triangle" class="text-red-600"></lucide-icon>
        </p>
        <p class="text-[#404D61] text-[22px] font-medium">$86, 100.00</p>
    </div>
</div>
