<div class="py-5 px-3 w-full flex justify-between items-center">
    <h2 class="text-[28px] font-semibold text-[#404D61]">Dashboard</h2>
    <div class="flex gap-4">
        <div class="w-90 flex items-center gap-2 px-1.5 py-1 rounded-xl border border-cyan-700 shadow-2xs shadow-blue-50"
        >
                 <lucide-icon name="search" class="text-gray-400 cursor-pointer"></lucide-icon>
            <input
                 class="w-full flex items-center py-1.5 px-0.5 text-[16px] outline-none hover:outline-none border-0 placeholder:text-gray-400"
                 type="search"
                 placeholder="Search...">
        </div>
        <button class="px-5 py-3 bg-[#5B6AD0] rounded-xl text-white border-gray-200">Add employee</button>
        <div class="px-3 py-2.5 rounded-md border border-gray-200 bg-white">
            <lucide-icon name="pen" class="text-gray-500"></lucide-icon>
        </div>
    </div>
</div>