<div class="realtive w-62.5 h-screen bg-[#F1F2F6]">
    <div class="py-5 px-3 w-full flex justify-around items-center">
        <div class="w-8 h-8 flex items-center justify-center bg-sky-300 rounded-full">
            <img src="https://cdn.kia.uz/media/images/models/679b84ae-0ec7-4c9c-bb34-fd533b6840e5.webp" alt="12">
        </div>
        <div class="bio">
            <small class="font-light">Welcome back!</small>
            <h2 class="text-lg font-medium">Jack</h2>
        </div>
        <div class="px-3 py-1 rounded-md border border-gray-200 bg-white">
            <lucide-icon name="settings" class="text-gray-500"></lucide-icon>
        </div>
    </div>
    <ul class="w-full bottom-1 py-3 px-3">
        @for (item of linkItems; track $index) {
            <li class="flex w-full justify-between items-center rounded-l-full gap-4 py-3 px-4
                transition duration-500 hover:bg-white    
                ">
                <div class="flex gap-4">
                    <lucide-icon [name]="item.icon" class="text-gray-600 font-thin w-4"></lucide-icon>
                    <p class="text-gray-600 font-thin">{{item.name}}</p>
                </div>
                <lucide-icon name="menu"></lucide-icon>
            </li>
        }
    </ul>
    <div class="bottom w-full absolute bottom-1 py-3 px-3">
        <div class="flex w-full items-center rounded-l-full gap-4 py-3 px-4
            transition duration-500 hover:bg-white    
        ">
            <lucide-icon name="hand-fist" class="text-gray-600 font-thin w-4"></lucide-icon>
            <p class="text-gray-600 font-thin">Support</p>
        </div>
        <div class="flex w-full items-center rounded-l-full gap-4 py-3 px-4
            transition duration-500 hover:bg-white    
        ">
            <lucide-icon name="power" class="text-gray-600 font-thin w-4"></lucide-icon>
            <p class="text-gray-600 font-thin">Sign out</p>
        </div>
    </div>
</div>