@if (_user.role === 'admin') {
    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-screen bg-[#cccccc85]">
    <div class="border rounded-2xl bg-white w-xl py-3 px-2">
        <div class="flex justify-between items-center px-4 py-3">
            
            <h2 class="text-2xl font-medium">Add user</h2>
            <!-- <button type="button" (click)="dashService.openForm()" class="border px-2 py-1">Close</button> -->
            <lucide-icon (click)="onCancel()" class="cursor-pointer font-semibold hover:text-red-600" name="x"></lucide-icon>
        </div>
        <form [formGroup]="userData" (ngSubmit)="onSubmit()" class="flex w-full px-4 flex-col gap-4 items-center">
            <div class="w-full flex items-center gap-2 px-1.5 py-1 rounded-md border border-cyan-700 shadow-2xs shadow-blue-50"
            [class.border-red-400] = "userData.get('username')?.invalid && userData.get('username')?.touched"
            >
                <input
                    class="w-full flex items-center py-1.5 px-0.5 text-[16px] outline-none hover:outline-none border-0 placeholder:text-gray-400"
                    type="text"
                    formControlName="username"
                    placeholder="Username">
                <lucide-icon (click)="clearInput()" name="circle-x" class="text-gray-400 cursor-pointer"></lucide-icon>
            </div>
           
            @if (!user) {
                <div class="w-full flex items-center gap-2 px-1.5 py-1 rounded-md border border-cyan-700 shadow-2xs shadow-blue-50"
                [class.border-red-400] = "userData.get('password')?.invalid && userData.get('password')?.touched"
                >
                    <input
                        class="w-full flex items-center py-1.5 px-0.5 text-[16px] outline-none hover:outline-none border-0 placeholder:text-gray-400"
                        type="text"
                        formControlName="password"
                        placeholder="Password">
                    <lucide-icon name="dices" class="text-gray-400 cursor-pointer transition duration-700 hover:rotate-180 hover:text-yellow-500"></lucide-icon>
                </div>
            }
            <div class="w-full flex items-center gap-2 px-1.5 py-1 rounded-md border border-cyan-700 shadow-2xs shadow-blue-50"
            [class.border-red-400] = "userData.get('username')?.invalid && userData.get('username')?.touched"
            >
                <select
                    class="w-full flex items-center py-1.5 px-0.5 text-[16px] outline-none hover:outline-none border-0 placeholder:text-gray-400"
                    type="text"
                    formControlName="role">
                    
                    <option value="user" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">User</option>
                    <option value="admin" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Admin</option>
                </select>
            </div>
             @if (error().length > 0) {
                <small class="text-red-600">{{error()}}</small>
            }
             @if (isSuccess()) {
                <small class="text-green-600">Foydalanuvchi yaratildi!</small>
            }
            <button type="submit" [disabled]="userData.invalid" [class.opacity-50]="userData.invalid" class="w-full py-1.5 px-0.5 text-center bg-[#5B6AD0] rounded-md text-white cursor-pointer">Add</button>
        </form>
    </div>
</div>
}@else {
    <div class="absolute top-0 left-0 flex items-center justify-center w-full h-screen bg-[#cccccc85]">
    <div class="border rounded-2xl bg-white w-xl py-3 px-2">
        <div class="flex justify-between items-center px-4 py-3">
            
            <h2 class="text-2xl font-medium">Add user</h2>
            <!-- <button type="button" (click)="dashService.openForm()" class="border px-2 py-1">Close</button> -->
            <lucide-icon (click)="onCancel()" class="cursor-pointer font-semibold hover:text-red-600" name="x"></lucide-icon>
        </div>
        <form [formGroup]="userData" (ngSubmit)="onSubmit()" class="flex w-full px-4 flex-col gap-4 items-center">
            <div class="w-full flex items-center gap-2 px-1.5 py-1 rounded-md border border-cyan-700 shadow-2xs shadow-blue-50"
            [class.border-red-400] = "userData.get('username')?.invalid && userData.get('username')?.touched"
            >
                <input
                    class="w-full flex items-center py-1.5 px-0.5 text-[16px] outline-none hover:outline-none border-0 placeholder:text-gray-400"
                    type="text"
                    formControlName="name"
                    placeholder="Name">
                <lucide-icon (click)="clearInput()" name="circle-x" class="text-gray-400 cursor-pointer"></lucide-icon>
            </div>
                <div class="w-full flex items-center gap-2 px-1.5 py-1 rounded-md border border-cyan-700 shadow-2xs shadow-blue-50"
                [class.border-red-400] = "userData.get('password')?.invalid && userData.get('password')?.touched"
                >
                    <input
                        class="w-full flex items-center py-1.5 px-0.5 text-[16px] outline-none hover:outline-none border-0 placeholder:text-gray-400"
                        type="text"
                        formControlName="email"
                        placeholder="Email">
                    <lucide-icon name="dices" class="text-gray-400 cursor-pointer transition duration-700 hover:rotate-180 hover:text-yellow-500"></lucide-icon>
                </div>
            
            <div class="w-full flex items-center gap-2 px-1.5 py-1 rounded-md border border-cyan-700 shadow-2xs shadow-blue-50"
            [class.border-red-400] = "userData.get('username')?.invalid && userData.get('username')?.touched"
            >
                <select
                    class="w-full flex items-center py-1.5 px-0.5 text-[16px] outline-none hover:outline-none border-0 placeholder:text-gray-400"
                    type="text"
                    formControlName="role">
                    <option value="amaliyotchi" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Amaliyotchi</option>
                    <option value="bosh buxgalter" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Bosh buxgalter</option>
                    <option value="buxgalter" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Buxgalter</option>
                    <option value="yordamchi buxgalter" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Yordamchi buxgalter</option>
                    <option value="operator" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Operator</option>
                    <option value="frontend dasturchi" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Frontend dasturchi</option>
                    <option value="backend dasturchi" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Backend dasturchi</option>
                    <option value="mobil dasturchi" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Mobil dasturchi</option>
                    <option value="c++ dasturchi" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">C++ dasturchi</option>
                    <option value="robototexnik" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Robototexnik</option>
                    <option value="qa tester" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">QA Tester</option>
                </select>
            </div>
            <div class="w-full flex items-center gap-2 px-1.5 py-1 rounded-md border border-cyan-700 shadow-2xs shadow-blue-50"
            [class.border-red-400] = "userData.get('username')?.invalid && userData.get('username')?.touched"
            >
                <select
                    class="w-full flex items-center py-1.5 px-0.5 text-[16px] outline-none hover:outline-none border-0 placeholder:text-gray-400"
                    type="text"
                    formControlName="status">
                    
                    <option value="active" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Faol</option>
                    <option value="free" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Ta'tilda</option>
                    <option value="busy" class="py-1.5 px-0.5 text-[16px] outline-none border-b border-b-gray-50">Bo'shatilgan</option>
                </select>
            </div>
             @if (error().length > 0) {
                <small class="text-red-600">{{error()}}</small>
            }
             @if (isSuccess()) {
                <small class="text-green-600">Foydalanuvchi yaratildi!</small>
            }
            <button type="submit" [disabled]="userData.invalid" [class.opacity-50]="userData.invalid" class="w-full py-1.5 px-0.5 text-center bg-[#5B6AD0] rounded-md text-white cursor-pointer">Add</button>
        </form>
    </div>
</div>
}